
@font-face {
	font-family: 'Homoarakhn';
	src: url('Homoarakhn.eot');
	src: url('Homoarakhn.eot?#iefix') format('embedded-opentype'),
		url('Homoarakhn.woff') format('woff'),
		url('Homoarakhn.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
